body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;

    background: center url("images/bg.png");
    background-size: cover;

    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.tanuki {
    position: absolute;
    top: calc(50% - 258px);
    left: calc(50% - 188px);
    width: 360px;
    height: auto;
    z-index: 10;
}

.calculator {
    box-shadow: #328e6e90 0px 7px 29px 0px;
    background-color: white;
    border-radius: 25px;
    width: 360px;
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.display {
    background-color: #a0d683;
    color: white;
    border-radius: 25px;

    display: flex;

    justify-content: flex-end;

    padding-right: 20px;
    width: 340px;
    height: 200px;

    overflow: hidden;
    white-space: nowrap;

    font-size: 2.5rem;
    text-align: right;
}

.result {
    margin-top: 50px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 360px;

    .btn {
        width: 60px;
        height: 60px;
        text-align: center;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;

        color: #328e6e;

        border-radius: 0;
        appearance: none;
        cursor: pointer;

        font-family: "Concert One", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 1.5rem;

    }

    .btn:hover {
        border-radius: 8px;
        background-color: #e0ede7;
    }

    .btn-down {
        width: 136px;
        height: 60px;
        font-family: "Concert One", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 1.5rem;
    }

    .green {
        background-color: #a0d683;
        margin: 0;
        padding: 0;
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;

        line-height: 20px;
        list-style: none;
        margin: 0;
        outline: none;

        text-align: center;
        text-decoration: none;
        transition: color 100ms;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .green:hover {
        background-color: #328e6e;
    }
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}



.footer {
    color: #328e6e;
    position: absolute;
    bottom: calc(50% - 350px);
    left: calc(50% - 125px);

    font-weight: 100;
    font-size: 1rem;

    a {
        text-decoration: none;
        color: #a0d683;
    }

    a:visited {
        text-decoration: none;
        color: #a0d683;
    }
}